{% extends "base.html" %}
{% block navbar %}
    <nav class="navbar">
      <div class="row">
        <div class="one columns navitem">
          <a href="/">Home</a>
        </div>
        <div class="two columns navitem">
          <a href="/new">Add New</a>
        </div>
        <div class="two columns navitem">
          <a href="/summary">Summary</a>
        </div>
        <div class="three columns navitem">&nbsp;</div>
        <div class="four columns navitem">
          <a href="/logout">User: {{ g.user.username }}</a>
        </div>
      </div>
    </nav>
{% endblock %}
