{% extends "layout.html" %}
{% block head %}
  <title>Login - Expense Manager</title>
{% endblock %}
{% block body %}
  <div class="container">
    <form action="/login" method="POST">
      <div class="row">
        <div column="six columns">
          <label for="username">Username</label>
          <input type="text" name="username"></input>
        </div>
        <div column="six columns">
          <label for="password">Password</label>
          <input type="password" name="password"></input>
        </div>
      </div>
      <div class="row">
        <div column="six columns">
          <input type="submit" class="button-primary" value="login"></input>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
